---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/295212/historical/24?apikey=Q91WSHAJ3MLkmjXs8j7QoZGGtbuyaJvU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '[{"LocalObservationDateTime":"2021-11-02T20:56:00+03:00","EpochTime":1635875760,"WeatherText":"Light
        fog","WeatherIcon":11,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":3.9,"Unit":"C","UnitType":17},"Imperial":{"Value":39.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212?lang=en-us","Link":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212?lang=en-us"},{"LocalObservationDateTime":"2021-11-02T20:06:00+03:00","EpochTime":1635872760,"WeatherText":"Light
        fog","WeatherIcon":11,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":3.9,"Unit":"C","UnitType":17},"Imperial":{"Value":39.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212[...]
